:root{
    --primary-white: #fff;
    --primary-orange: rgb(255, 187, 59);
}

.intro
{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
    margin-bottom: 15%;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    left: 5%;
    top: 10%;
}

.i-button{
    display: flex;
    flex-direction: column;
    width: 7rem;
    height: 3rem;
    margin-top: 20px;
    background: rgb(250, 220, 163);
    box-shadow: 0px 5px 15px;
    color: rgb(141, 28, 248) ;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.i-button:hover{
    background: white;
    cursor: pointer;
    color: orange;
}

.i-name{
    display: flex;
    flex-direction: column;
    margin-right: 10%;
}

.i-name>:nth-child(1)
{
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2)
{
    color: orange;
    font-weight: bold;
    font-size: 4rem;
}

.i-name>:nth-child(3)
{
    color: grey;
    font-weight: 100;
    font-size: 1.3rem;
    font-weight: 100;
    margin-top: 10px;
}





.i-right{
    flex: 1;
    position: relative;
    right: 3%;
    top: 10%;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.6);
    left: -47%;
    top: -80%;
    height: 90rem;
    width: 90rem;
}

.i-right>:nth-child(2){
    transform: scale(0.6);
    left: -1%;
    top: -25%;
    height: 50rem;
    width: 50rem;
    border-radius: 1000px;
}





.skill{
    margin: 150px;
    padding-top: 5%;
}

.h-skill{
    font-size: 5rem;
    text-align: center;
    margin-left: 30rem;
    margin-right: 30rem;
    margin-bottom: 100px;
    border-top: 0.3rem solid orange;
}
